# Ignoring files by extension
# All files with these extensions will be ignored in
# this directory and all its sub-directories.
*.apk
*.class
*.ipynb
*.csv
*.png
*.o
*.x

# Ignore cmake debug files
src/cmake-build-debug/

# Ignore Results
data/

# Ignore IDE files
.idea/

